<p>
  register works!
</p>
<!-- <div class='container'>
  <div class='row'>
    <form [formGroup]="registerForm" novalidate>
      <div class='form-group col-md-offset-2'>
        <label class='form-label'>Username: </label>
        <input class='form-control col-md-2' formControlName='username'>

      </div>
      <div class='form-group col-md-offset-2'>
        <label class='form-label'>Email:   </label>
        <input class='form-control col-md-2' formControlName='email'>

      </div>
      <div class='form-group col-md-offset-2'>
        <label class='form-label'>Address:   </label>
        <input class='form-control col-md-2' formControlName='address'>

      </div>
    </form>
    <div class='form-group'>
      <div class='col-md-offset-6'>
        <button (click)='login()' class='btn btn-primary col-md-5' style='margin-top:20px;'>Register</button>
      </div>
    </div>
  </div>
</div> -->